@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "roboto", "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

@media screen and (max-width: 1024px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 1024px) {
  .md-show {
    display: block;
  }
}

.header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding-left: 15px;
  }
}

.header__title {
  margin-right: auto;
}

.header__title img {
  width: 171px;
}
@media screen and (max-width: 768px) {
  .header__title img {
    width: 132px;
  }
}

.header__nav {
  height: inherit;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__items {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 70px;
}

.header__link {
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #141414;
}

.hamburger {
  width: 25px;
  height: 16px;
  position: fixed;
  top: 27px;
  right: 16px;
  z-index: 9999;
}

.hamburger.is-active {
  right: 14px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #141414;
  transition: transform 0.3s;
}

.js-hamburger span:nth-child(1) {
  position: absolute;
  top: 0;
}

.js-hamburger span:nth-child(2) {
  position: absolute;
  top: 8px;
}

.js-hamburger span:nth-child(3) {
  position: absolute;
  top: 16px;
}

.js-hamburger.is-active span {
  background-color: #fff;
}

.js-hamburger.is-active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.js-hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.js-hamburger.is-active span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.drawer-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: #202F43;
}

.js-drawer {
  display: none;
}

.drawer-menu__inner {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drawer-menu__items {
  width: 200px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 166px;
}

.drawer-menu__item {
  width: 100%;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 1px solid #868686;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 21px;
}

.dawer-menu__link {
  color: #fff;
}

.drawer-menu__item.drawer-menu__item--contact {
  border-bottom: none;
  margin-top: 24px;
}

.dawer-menu__link.contact-btn.contact-btn--large {
  width: 100%;
  height: 50px;
  letter-spacing: 0;
  border-bottom: none;
  font-size: 16px;
}

.mv {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .mv {
    height: 100vh;
  }
}

.mv__content {
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .mv__content {
    top: 56%;
  }
}

.mv__title img {
  width: 244px;
}
@media screen and (max-width: 1024px) {
  .mv__title img {
    width: 205px;
  }
}

.mv__text {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5714285714;
  color: #fff;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .mv__text {
    font-size: 30px;
    line-height: 1.4;
  }
}

.mv__text--strong {
  font-size: 60px;
  line-height: 1.1;
  color: #F14E53;
}
@media screen and (max-width: 768px) {
  .mv__text--strong {
    font-size: 38px;
    line-height: 1.1052631579;
  }
}

.mv__text--large {
  font-size: 60px;
  line-height: 1.1;
  color: #20AAA5;
}
@media screen and (max-width: 768px) {
  .mv__text--large {
    font-size: 38px;
    line-height: 1.1052631579;
  }
}

.mv__swiper {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-wrapper {
  width: 100%;
  height: inherit;
}

.swiper-slide {
  width: 100%;
  height: inherit;
}

.swiper-slide picture {
  width: 100%;
  height: inherit;
}

.swiper-slide img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  width: 100%;
  padding: 99px 0;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 97px 0;
  }
}

.about__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__title.title-container {
  display: flex;
  align-items: flex-start;
}

.about__text {
  margin-top: 28px;
}
@media screen and (max-width: 768px) {
  .about__text {
    margin-top: 25px;
  }
}

.about__img {
  width: 44.4444444444%;
  flex-shrink: 0;
  aspect-ratio: 460/320;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about__img {
    display: none;
  }
}

.about__img img {
  width: 100%;
  height: 100%;
}

.service {
  width: 100%;
  padding: 101px 0;
  background-color: #F7F7F7;
}

.service__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .service__inner {
    padding: 0 15px;
  }
}

.service__container {
  width: 100%;
}

.service__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .service__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    margin-top: 38px;
  }
}

.service-item {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .service-item {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 768px) {
  .service__item:nth-child(1) {
    grid-row: 2/3;
  }
  .service__item:nth-child(2) {
    grid-row: 1/2;
  }
}
.service__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-item--text {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #F14E53;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 87px;
  outline: 2px solid #fff;
  outline-offset: -6px;
}
@media screen and (max-width: 768px) {
  .service-item--text {
    padding: 0 26px;
  }
}

.service-item--text:nth-child(3) {
  background-color: #20AAA5;
}

.service__content {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .service__content {
    transform: translateY(-5px);
  }
}

.service__content__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service__content__title {
    font-size: 20px;
  }
}

.service__content__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.8666666667;
  text-align: left;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .service__content__text {
    font-size: 14px;
    margin-top: 14px;
    line-height: 2.1428571429;
    transform: translateY(14px);
  }
}

.news {
  width: 100%;
  padding: 100px 0 160px;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 98px 0;
  }
}

.news__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 30px;
  margin-top: 50px;
  padding: 0 12px;
}
@media screen and (max-width: 768px) {
  .news__items {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 38px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(134, 134, 134, 0.16);
}

.card img {
  width: 100%;
  aspect-ratio: 320/200;
}

.card__content {
  margin: 12px 17px 10px 17px;
}

.card__date {
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #868686;
}
@media screen and (max-width: 768px) {
  .card__date {
    font-weight: 500;
  }
}

.card__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8571428571;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .card__text {
    font-weight: 500;
    margin-top: 10px;
  }
}

.faq {
  width: 100%;
  padding: 113px 0 0;
  background-color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .faq {
    padding: 102px 0 0;
  }
}

.faq__inner {
  width: 100%;
  max-width: 849px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .faq__inner {
    padding: 0 15px;
  }
}

.faq__maintitle {
  text-transform: uppercase;
}

.faq__items {
  margin-top: 49px;
}
@media screen and (max-width: 768px) {
  .faq__items {
    margin-top: 38px;
  }
}

.accordion {
  width: 100%;
}

.faq__item {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .faq__item {
    margin-top: 9px;
  }
}

.accordion-item {
  width: 100%;
}

.faq__question {
  position: relative;
  width: 100%;
  height: 63px;
  background-color: #155B98;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .faq__question {
    height: auto;
    padding: 17px 10px;
  }
}

.faq__question__text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  transform: translateY(2px);
}
@media screen and (max-width: 768px) {
  .faq__question__text {
    font-size: 14px;
    line-height: 1.8571428571;
    margin-right: 37px;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.faq__question::before,
.faq__question::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  .faq__question::before,
.faq__question::after {
    width: 16px;
    top: 43%;
    right: 12px;
  }
}

.faq__question::after {
  transform: translateY(-50%) rotate(90deg);
}

.faq__question.is-open::after {
  transform: translateY(-50%) rotate(0);
}

.faq__answer {
  display: none;
  padding: 0 20px 17px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .faq__answer {
    padding: 0 10px 21px;
    margin-top: 17px;
  }
}

.faq__item:first-child .faq__answer {
  display: block;
}

.faq__answer__text {
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.8666666667;
  color: #141414;
  padding-left: 1em;
  text-indent: -1em;
}
@media screen and (max-width: 768px) {
  .faq__answer__text {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}

.faq__img {
  width: 100%;
  margin-top: 100px;
  height: 480px;
}
@media screen and (max-width: 768px) {
  .faq__img {
    margin-top: 110px;
    height: 280px;
  }
}

.faq__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact {
  width: 100%;
  padding: 98px 0;
}

.contact__inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2px;
}
@media screen and (max-width: 768px) {
  .contact__inner {
    padding: 0 15px;
  }
}

.contact__form {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .contact__form {
    margin-top: 49px;
  }
}

.form-item {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .form-item {
    margin-top: 24px;
  }
}

.form__label {
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .form__label {
    font-size: 14px;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #F7F7F7;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 300;
  color: rgba(134, 134, 134, 0.5);
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 38px;
    font-size: 14px;
    margin-top: 0;
  }
}

.form__input--textarea {
  height: 171px;
  padding-top: 9px;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    padding-top: 11px;
  }
}

.form__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
}
@media screen and (max-width: 768px) {
  .form__button {
    margin-top: 45px;
  }
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #202F43;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer {
    height: 60px;
  }
}

.footer__copyright {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  padding: 28px 24px;
  background-color: #F14E53;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: background-color 0.3s;
  white-space: nowrap;
}
.contact-btn:hover {
  background-color: #BC353A;
}

.contact-btn.contact-btn--large {
  width: 235px;
  padding: 15px 97px;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-btn.contact-btn--large:hover {
  box-shadow: none;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .title-container {
    align-items: flex-start;
  }
}

.title-main {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #141414;
  line-height: 1.1666666667;
}

.title-sub {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #F14E53;
}
@media screen and (max-width: 768px) {
  .title-sub {
    font-size: 10px;
  }
}

.title__sub {
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .title__sub {
    margin-top: 6px;
  }
}

.text {
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.8666666667;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 2.1428571429;
  }
}

.text--large {
  font-size: 24px;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .text--large {
    font-size: 20px;
    line-height: 1.9;
  }
}

.inner {
  width: 100%;
  max-width: 1080px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 0 15px;
  }
}