@use "./base/base";
@use "./base/reset";
@use "./global" as *;

.md-none {
  @include mq("lg") {
    display: none;
  }
}

.md-show {
  display: none;

  @include mq("lg") {
    display: block;
  }
}

// ヘッダー
.header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 22px;

  @include mq("md") {
    padding-left: 15px;
  }
}

.header__title {
  margin-right: auto;
}

.header__title img {
  width: 171px;

  @include mq("md") {
    width: 132px;
  }
}

.header__nav {
  height: inherit;

  @include mq("lg") {
    display: none;
  }
}

.header__items {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 70px;
}


.header__link {
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $black;
}

.hamburger {
  width: 25px;
  height: 16px;
  position: fixed;
  top: 27px;
  right: 16px;
  z-index: 9999;
}

.hamburger.is-active {
  right: 14px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $black;
  transition: transform 0.3s;
}

.js-hamburger span:nth-child(1) {
  position: absolute;
  top: 0;
}

.js-hamburger span:nth-child(2) {
  position: absolute;
  top: 8px;
}

.js-hamburger span:nth-child(3) {
  position: absolute;
  top: 16px;
}

.js-hamburger.is-active span {
  background-color: $white;
}

.js-hamburger.is-active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.js-hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.js-hamburger.is-active span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.drawer-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: $blue3;
}

.js-drawer {
  display: none;
}

.drawer-menu__inner {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drawer-menu__items {
  width: 200px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 166px;
}

.drawer-menu__item {
  width: 100%;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 1px solid $gray2;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 21px;
}

.dawer-menu__link {
  color: $white;
}

.drawer-menu__item.drawer-menu__item--contact {
  border-bottom: none;
  margin-top: 24px;
}


.dawer-menu__link.contact-btn.contact-btn--large {
  width: 100%;
  height: 50px;
  letter-spacing: 0;
  border-bottom: none;
  font-size: 16px;
}


// 共通パーツ
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  padding: 28px 24px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  transition: background-color 0.3s;

  &:hover {
    background-color: $red2;
  }
}

.contact-btn.contact-btn--large {
  width: 235px;
  padding: 15px 97px;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: none;
  }
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq("md") {
    align-items: flex-start;
  }
}

.title-main {
  font-size: 36px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $black;
  line-height: calc(42/36);
}

.title-sub {
  font-size: 12px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $red;

  @include mq("md") {
    font-size: 10px;
  }
}

.title__sub {
  margin-top: 2px;
}

.text {
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  line-height: calc(28/15);
  color: $black;

  @include mq("md") {
    font-size: 14x;
    line-height: calc(30/14);
  }
}

.text--large {
  font-size: 24px;
  line-height: calc(42/24);

  @include mq("md") {
    font-size: 20px;
    line-height: calc(38/20);
  }
}



